.dreamerContainer,
.traitsContainer,
.proposalContainer {
    margin-top: 1.5rem;
}

.heading {
    font-size: 1.6875rem;
    font-weight: 700;
}

@media screen and (min-width: 1280px) {
    .container {
        padding-top: 3rem;
        max-width: 66.66%;
        word-wrap: break-word;
    }
}
