.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.container :global(svg) {
    width: var(--container-square);
    height: var(--container-square);
}
