.promoteContainer,
.proposalTitleContainer,
.voteTallyContainer,
.castVoteContainer {
    margin-top: 0.625rem;
}

.proposalStatusContainer {
    font-size: 0.8125rem;
}

.proposalTitle {
    font-size: 0.6875rem;
}
