@import 'tailwindcss';

@font-face {
    font-family: 'ComicSansMS-Bold';
    src: url('/fonts/ComicSansMS-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'ComicSansMS-Bold', sans-serif;
    text-transform: uppercase;
}

button {
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

button:not(:disabled):hover {
    cursor: pointer;
}

a[aria-disabled='true'] {
    cursor: not-allowed;
    pointer-events: none;
}

.text-link {
    color: #2b83f6;
    font-weight: theme('fontWeight.bold');
    text-decoration: underline;
}
