.input {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
    background-color: #fff;
    border-style: solid;
    width: 100%;
}

.input:focus {
    outline: none;
}

.input:disabled {
    cursor: not-allowed;
}

.input::placeholder {
    text-transform: uppercase;
}

/* BORDERED MOTIF */
.bordered {
    height: 36px;
    border-color: #c2c2c2;
    font-size: 0.875rem;
    border-width: 2px;
}

/* BORDERLESS MOTIF */
.borderless {
    font-size: 1.625rem;
    border-color: transparent;
    border-width: 1px;
}

.borderless::placeholder {
    color: #000;
}
