.button {
    box-shadow: 8px 6px 0px 0px #000000;
    border: 2px;
    min-height: 35px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button:not(:disabled):active {
    box-shadow: none;
}

/* COLOR */
.button.purple {
    background-color: #4c48e3;
    border-color: #4c48e3;
    color: #ffffff;
}

.button.yellow {
    background-color: #ffef2e;
    border-color: #ffef2e;
}

.button.white {
    background-color: #ffffff;
    border-color: #ffffff;
}

/* SIZE */
.button.lg {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
