.container > *:not(:first-child) {
    margin-top: 1rem;
}

.markdownPreviewContainer {
    width: 100%;
    background-color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.markdownPreviewTitle {
    color: #838383;
}

.markdownPreview {
    text-transform: none;
    max-width: none;
}

.actions {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.actionBtn {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: calc(65ch + 2rem);
        margin-left: auto;
        margin-right: auto;
    }

    .actions {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: flex-end;
    }

    .actionBtn {
        width: auto;
    }
}
