.container {
    height: var(--header-height);
}

.islandContainer {
    height: 100%;
}

.breadcrumbsContainer,
.copyContainer,
.exploreContainer {
    display: none;
}

@media screen and (min-width: 1280px) {
    .container {
        display: grid;
        align-items: center;
    }

    .container[aria-colcount='2'] {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .container[aria-colcount='3'] {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .container[aria-colcount='2'] .islandContainer {
        grid-column: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .breadcrumbsContainer {
        display: block;
    }

    .container[aria-colcount='2'] .copyContainer,
    .container[aria-colcount='2'] .exploreContainer {
        grid-column: 3 / 6;
    }

    .copyContainer,
    .exploreContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .exploreContainer {
        font-size: 0.8125rem;
    }
}
