.headingContainer {
    margin-bottom: 1.5rem;
}

.heading {
    font-size: 1.6875rem;
    font-weight: 700;
}

.settlerContainer {
    margin-bottom: 0.25rem;
}

.winningBidContainer {
    margin-bottom: 0.25rem;
}

.traitsContainer {
    margin-top: 1.5rem;
}

.colorsContainer {
    margin-top: 1.5rem;
}

@media screen and (min-width: 1280px) {
    .container {
        padding-top: 3rem;
    }
}
